<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!-- <include file="$(find gazebo_ros)/launch/test.launch"> -->
  <include file="$(find gazebo_ros)/launch/includes/gmapping/gmapping.launch.xml"/>
    <arg name="world_name" value="$(find test_gazebo)/worlds/test.world"/>
    
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>